body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1 {
    margin: 16px;
    padding: 16px;
}

h2 {
    background: red;
}

a {
    background: lightblue;
}
.d1, .a1 {
    display: inline;
    border: 2px solid black;
    margin: 12px;
    padding: 10px;
    background: pink;
    width: 180px;
    margin-top: 80px;
}
.radius-box {
    background: steelblue;
    width: 200px;
    height: 200px;
    color: aliceblue;
    place-items: center;
    display: grid;
    border-radius: 100px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.link {
    text-decoration: none;
    background: none;
}
.wrap {
    margin: 15px;
    padding: 15px;
}
h1 {
    font-size: 1rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 3rem;
}